body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-content: center;
}

textarea{
  font-family: inherit;
  margin-bottom: 8px;
  padding-left: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul, h4 {
  margin:0;
  padding: 0;
}

img {
  border-radius: 200px;
  height: auto;
  width: 50px;
}

ul, li {
  border-radius: 4px;
  border: 1px solid #eee;
  list-style: none;
  margin-bottom: 16px;
  max-width: 320px;
  padding: 8px 32px;

}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px sold #ccc;
  border-radius: 2px;
  padding: 4px 6px;
  margin: 0 4px;

}